PORT=5000
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://acnoback:spasp8706@cluster0.aqdavm7.mongodb.net/?appName=Zentra
JWT_SECRET=this_is_going_to_be_my_first_app
JWT_EXPIRES_IN=7d
HEAD_USERNAME=head
HEAD_PASSWORD=Head@123
HEAD_NAME=Global Head
POLLING_MINUTES=1
